<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite  name="FREECRM  Automation Test as Per Naveen" >
<listeners>
<listener class-name="ExtentReportListener.ExtentReportNG"></listener>
</listeners>
  <test name="FreeCRM Test"   preserve-order="true">
    <classes>
      <class name="testcases.LoginPageTest"></class>
      <class name="testcases.HomePageTest"></class>
      <class name="testcases.ContactPageTest"></class>
       </classes>
  </test>
</suite>